<div id="zona">
    <p>@ViewBag.P1</p>
    <br />
    <p>@ViewBag.P2</p>
    <br />
    <p>@ViewBag.P3</p>
</div>

@section SideBar{
    <div>
        <h3 id="titlefotos">
            Bievenida/o! <br />
            <img src="img/1.jpg">
            <img src="img/3.jpg">
            <img src="img/4.jpg">
        </h3>
    </div>
}
